.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #f0f2f5; */

  .card {
    width: 460px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    .header {
      text-align: center;
      margin-bottom: 24px;
    }

    .footer {
      text-align: center;
    }
  }
}